# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\laragon\www\Afip\Php\bigProjet\APPWEB_src_vide_grenier_V0.2.0.1\Vide_grenier_V0.2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
